@use "../util/" as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: u.rem(18);
  // font-size: clamp(
  //   u.rem(18),
  //   0.9353448275862069rem + 0.27586206896551724vw,
  //   u.rem(20)
  // );
  line-height: 1.78;
  overflow-x: hidden;
  color: var(--white);
}

main {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  // color: var(--white);
}

.link {
  display: flex;
  justify-content: center;
  color: var(--white);
  position: relative;
  overflow: hidden;

  .link-text-1,
  .link-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease-in;
  }
  .link-text-2 {
    // color: var(--red);
    position: absolute;
    transform: translateY(3rem);
  }

  &:hover .link-text-1 {
    transform: translateY(-3rem);
  }
  &:hover .link-text-2 {
    transform: translateY(0%);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

textarea {
  padding: 0;
}

option {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  border-radius: 0;
}

select:focus,
input:focus,
textarea:focus-visible {
  outline: 0;
  // border-bottom: 1px solid var(--bg) !important;
}

textarea:focus-visible {
  outline: 0;
}

.wrapper {
  // outline: 2px solid red;
  width: min(100% - u.rem(64), u.rem(1400));
  margin-inline: auto;
  @include u.breakpoint-down(small) {
    width: min(100% - u.rem(32), u.rem(1400));
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.highlight {
  color: var(--red);
}
