:root {
  --yellow: #fff7e5;
  // --red: #d50000;
  --red: #fd1616;
  --green: #25d366;
  --white: #ffffff;
  --gray: #f3f3f3;
  --dark-gray: #505050;
  --black: #2b2b2b;
  --black-2: #202020;
  --bg: #121212;
  --amoled: #000000;
}
