@use "../util/" as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;

  span {
    color: var(--red);
  }
}

h1 {
  font-size: clamp(3.25rem, -1352.75rem + 3200vh, 4.25rem);

  @include u.breakpoint-down(large) {
    font-size: clamp(
      2.75rem,
      2.6017145505097314rem + 0.7414272474513438vw,
      3.25rem
    );
  }
}

h2 {
  font-size: clamp(2.75rem, -1352.75rem + 3200vh, 3.5rem);

  @include u.breakpoint-down(large) {
    font-size: clamp(
      u.rem(32),
      1.2241379310344829rem + 3.3103448275862064vw,
      u.rem(44)
    );
  }
}

h3 {
  font-size: clamp(1.75rem, 1.6206896551724137rem + 0.5517241379310345vw, 2rem);
}

// p {
//     font-size: clamp(u.rem(16), 0.9353448275862069rem + 0.27586206896551724vw, u.rem(18));
// }
