@use "../util/" as u;

.storeCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 120px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &:hover > *:not(:hover) {
      filter: grayscale(100%);
    }
  }
  &__category {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    height: 270px;
    background-color: var(--black);
    background-position: center center;
    background-size: cover;
    padding: 1rem;
    border-radius: 1.125rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: filter 200ms linear;

    span {
      text-shadow: 10px 10px 20px black;
    }
  }
  &__category:nth-of-type(1) {
    background-image: url(../../assets/images/anastase-maragos-jzP8_Rg6aVU-unsplash-_1_.webp);
    background-position: center 20%;
  }
  &__category:nth-of-type(2) {
    background-image: url(../../assets/images/pexels-mikhail-nilov-6740821-_1_.webp);
    background-position: center 15%;
  }
  &__category:nth-of-type(3) {
    background-image: url(../../assets/images/pexels-marcuschanmedia-17898142-_1_.webp);
    background-position: center 85%;
  }
  &__category:hover {
    filter: grayscale(0%);
  }
}
