@use "../util/" as u;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  //background-color: var(--bg);
  text-align: center;
  padding: 120px 0;
  position: relative;
  background-image: url(/assets/images/gym-bg-darken.webp);
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &__headline-wrapper {
    position: relative;
    max-width: 850px;
    margin-bottom: clamp(1.5rem, -6.071428571428571rem + 22.857142857142858vh, 2.5rem);
  }
  &__headline {
    // color: var(--color-white);
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: -2px;
    margin-bottom: clamp(1.5rem, -6.071428571428571rem + 22.857142857142858vh, 2.5rem);
    max-width: 22ch;
    margin-inline: auto;
  }
  &__headline-description {
    margin-inline: auto;
  }
  &__button-wrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: fit-content;
    position: relative;

    @media (width < 500px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.back-to-top-wrapper {
  position: fixed;
  z-index: 998;
  display: inline-flex;
  opacity: 1;
  inset: 50% 0 auto auto;
  transform: translateY(-50%);
  top: 92%;
  right: 0;
  height: 0;

  @include u.breakpoint-down(small) {
    display: none;
  }
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;

  &.opaque {
    opacity: 1;
    pointer-events: all;
  }

  &__button {
    background-color: var(--red);
    color: var(--bg);
    font-size: 14px;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 4px 12px 4px;

    &:hover {
      background-color: var(--red);
    }
  }
  &__scroll-up-icon {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-top: 4px solid var(--white);
    border-left: 4px solid var(--white);
    margin: 8px;
    margin-top: 16px;
    transform: rotate(45deg);
    transition: all 200ms linear;
  }
}
