@use "../util/" as u;

.store {
  padding: 120px 0;
  background-color: var(--bg);

  @include u.breakpoint-down(xsmall) {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  &__card {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    height: 800px;
    background-image: url(/assets/images/anastase-maragos-HyvE5SiKMUs-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    padding: 3rem;
    border-radius: 1.125rem;
    position: relative;
    overflow: hidden;

    @include u.breakpoint-down(small2) {
      height: 400px;
    }
  }
  &__floating-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--black);
    width: 400px;
    background-color: var(--white);
    padding: 3rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);

    @include u.breakpoint-down(small2) {
      display: none;
    }

    h3,
    p {
      margin-bottom: 1rem;
    }
  }
  &__outside-card {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--black);
    width: 100%;
    background-color: var(--white);
    padding: 3rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);

    @include u.breakpoint-down(small2) {
      display: flex;
    }

    h3,
    p {
      margin-bottom: 1rem;
    }
  }
  .slider {
    margin: 0 auto;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }
  .slides {
    width: 400%;
    height: 800px;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 25%;
    position: relative;
    transition: 2s;
  }
  .slide img {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  .manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  .manual-btn:hover {
    background-color: #fff;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }

  .navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 40px;
  }

  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
  }
}
