@use "../util/" as u;

.store {
  padding: 120px 0;
  background-color: var(--bg);

  @include u.breakpoint-down(xsmall) {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  &__card {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    height: 700px;
    // background-image: url(/assets/images/anastase-maragos-HyvE5SiKMUs-unsplash.webp);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 3rem;
    padding: 3rem;
    border-radius: 1.125rem;
    position: relative;
    overflow: hidden;

    @include u.breakpoint-down(large) {
      height: 600px;
    }
    @include u.breakpoint-down(small) {
      height: 500px;
    }
    @include u.breakpoint-down(small2) {
      height: 400px;
    }
  }
  &__floating-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--black);
    width: 400px;
    background-color: var(--white);
    padding: 3rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;

    @include u.breakpoint-down(small) {
      display: none;
    }

    h3,
    p {
      margin-bottom: 1rem;
    }
  }
  &__outside-card {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--black);
    width: 100%;
    background-color: var(--white);
    padding: 3rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);

    @include u.breakpoint-down(small) {
      display: flex;
    }

    h3,
    p {
      margin-bottom: 1rem;
    }
  }
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    overflow: hidden;

    @include u.breakpoint-down(large) {
      height: 600px;
    }
    @include u.breakpoint-down(small) {
      height: 500px;
    }
    @include u.breakpoint-down(small2) {
      height: 400px;
    }
  }
  &__slides-div {
    width: 100%;
    height: 700px;
    display: flex;

    @include u.breakpoint-down(large) {
      height: 600px;
    }
    @include u.breakpoint-down(small) {
      height: 500px;
    }
    @include u.breakpoint-down(small2) {
      height: 400px;
    }
  }
  &__slides-div input {
    display: none;
  }
  &__slide {
    width: 100%;
    position: relative;
    transition: 700ms ease-out;
  }
  // .manual-navigation {
  //   position: absolute;
  //   width: 100%;
  //   margin-top: -40px;
  //   display: flex;
  //   justify-content: center;
  // }
  // .manual-btn {
  //   border: 2px solid #fff;
  //   padding: 5px;
  //   border-radius: 10px;
  //   cursor: pointer;
  //   transition: 300ms linear;
  // }
  // .manual-btn:not(:last-child) {
  //   margin-right: 40px;
  // }
  // .manual-btn:hover {
  //   background-color: #fff;
  // }
  .first {
    width: 100%;
    height: 700px;
    background-image: url(/assets/images/anastase-maragos-HyvE5SiKMUs-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -100%;

    @include u.breakpoint-down(large) {
      height: 600px;
    }
    @include u.breakpoint-down(small) {
      height: 500px;
    }
    @include u.breakpoint-down(small2) {
      height: 400px;
      background-position: 40% 100%;
    }
  }
  .second {
    width: 100%;
    height: 700px;
    background-image: url(/assets/images/sule-makaroglu-YFmvjO3TP_s-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -100%;

    @include u.breakpoint-down(large) {
      height: 600px;
    }
    @include u.breakpoint-down(small) {
      height: 500px;
    }
    @include u.breakpoint-down(small2) {
      height: 400px;
      background-position: 30% 100%;
    }
  }
  #radio-1:checked ~ .first {
    margin-left: 0;
  }
  #radio-2:checked ~ .first {
    margin-left: -100%;
  }
  #radio-2:checked ~ .second {
    margin-right: 0;
  }
  // .navigation-auto div {
  //   border: 2px solid #fff;
  //   padding: 5px;
  //   border-radius: 10px;
  //   cursor: pointer;
  //   transition: 300ms linear;
  // }
  // .navigation-auto {
  //   position: absolute;
  //   width: 100%;
  //   margin-top: 760px;
  //   display: flex;
  //   justify-content: center;

  //   @include u.breakpoint-down(small) {
  //     margin-top: 560px;
  //   }
  //   @include u.breakpoint-down(small2) {
  //     margin-top: 360px;
  //   }
  // }
  // .navigation-auto div:not(:last-child) {
  //   margin-right: 40px;
  // }
  // #radio-1:checked ~ .navigation-auto .auto-btn1 {
  //   background-color: #fff;
  // }
  // #radio-2:checked ~ .navigation-auto .auto-btn2 {
  //   background-color: #fff;
  // }
}
